
body{
	width:800px;
	padding:20px;
	background-color: #F0F0F0;
}

h1{
	width:800;
	margin:auto;
	text-align: center;
	padding:6px;
}

.nav-bar{
	width:800;
	margin:auto;
	text-align: center;
	padding:6px;
}

.nav-item{
	display: inline;
	font-size:16px;
	font-family:Arial;
	border:1px solid black;
	padding-left:30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background:#989898;
	border-radius: 4px;
}

.nav-item:hover{
	opacity: 0.4;
	cursor: pointer;
}

a{
	text-decoration: none;
	color:black;
}

.left{
	float:left;
	width: 45%;
	padding-top: 20px;
	padding-left: 15px;
	padding-right:10px;
	padding-bottom: 10px;
}

.US{
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.international{
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.city-style{
	font-weight: bold;
}

.city{
	padding-bottom:8px;
}
